html
    head
        link(rel="stylesheet", href="/style/edit.css")
        title UserManager | Edit
    body
        div(class="container")
            form(action=`/update/${user._id}` method="post")
                div(class="inputContainer")
                    h3(class="inputTitle") Age
                    input(placeholder="Age" type="number" name="age" value=`${user.age}`)
                div(class="inputContainer")
                    h3(class="inputTitle") Name
                    input(placeholder="Name" type="text" name="name" value=`${user.name}`)
                div(class="inputContainer")
                    h3(class="inputTitle") Gender
                    input(placeholder="Gender" type="text" name="gender" value=`${user.gender}`)
                div(class="inputContainer")
                    h3(class="inputTitle") Phone
                    input(placeholder="Phone" type="text" name="phone" value=`${user.phone}`)
                div(class="inputContainer")
                    h3(class="inputTitle") Address
                    input(placeholder="Address" type="text" name="address" value=`${user.address}`)
                div(class="buttonContainer")
                    input(class="button" placeholder="Save" type="submit")
                    button(class="button" url="/") Cancel